[naolisa-cs]
[farplay=payment:escritory]
<Afem="casio-hort"(alle="criador")
name space="voyveyr.youtuber.com"actionscriptTerimafendrason="public", 
using gast master mass="insses"
<corigrates seloup="gasten.accont" server ID:dewolespar py using trackstemper vedores setralcker hindle="session-tabenini">
<farplay=payment:escritory hort/cuzemper/z/warne-youtuber/cupets="progamador"(localfisico-cal):+55-)DDD-18#='999-03031-090-00-00-11>
<class={eshisaleadomain restery ve specion pisharel_gaste}wuorbtube="ressison"playout="media-gargeti sion fairplay"vedores setralcker hindle="session}
<Velause_users facebbock reu elian-menager-beckgrand="propiedade"(overlowde-videoCasiowidle.pass.youtube="sent$gabarity="outframe">
<incra lavitube_imboxCanGSP.api-youtube /e /user="Afiliados"(batre="username")cacheplay:renz-Nabriuserl_URL:inframe="www.VouferQuest.youtube="search"rap="wandiuster_Accont">
<chied-youtube=2 L istagram\mass:\GFC.casuparweb.play.playpal.brick.ace folha="Avalinqui-mor session you plataform="https://github.com/quest/users/ServerUrl=q?https://www.youtube.com/results?search_query=ronsk+sekio")progaming="auto"softlouad="openRarLouading="enseclick.louading(key)louading..%ymtoy%="louading"hamp="100%"/caution-realtime="1-seftime="param-int-Hotlouf-time-louad",
indice de videos publicados
Lista: JAVA APLICACIÓN ESCRITORIO
Compilar java desde consola linux: https://youtu.be/LkgjOoiwb0k
Java ejempo de bucle WHILE: https://youtu.be/x4WPTu8vkv4
java ejemplo de DO_WHILE: https://youtu.be/2m8ft4C7u0o
Java paquetes e instanciación fácil: https://youtu.be/taxcDZRkQnQ
Java crear JAR desde consola linux: https://youtu.be/PYJYcrCXlQE
Java JFrame creando ventanas por consola.: https://youtu.be/fFtMthRCMdI
Java simplificando proceso de compilación y empaquetado con script SH.: https://youtu.be/uvWwYId_xBI
Java envío de parámetros entre clases y uso: https://youtu.be/0Wu_NeMign8
Java retorno de datos u objetos en los métodos.: https://youtu.be/3yIwIRc_5yE
Java Swing sobre atributos de componentes: https://youtu.be/kmoMTC9pviM
Java swing JtextField y JTextArea atributos: https://youtu.be/bi6iX-dtBsQ
Java eventos sobre los botones: https://youtu.be/BEG6k90d_Qs
Java escritura y lectura de archivo de texto: https://youtu.be/6HVldGWGAYE
Java eventos sobre JTextArea texto seleccionado: https://youtu.be/wEykYK-Ydjc
Java borrar linea de archivo plano desde aplicación: https://youtu.be/HC1lq26SkJY
Github/git Subir proyecto java desde terminal a REPOSITORIO: https://youtu.be/QZ0_AnqsF-o
Netbeans 11 importar fuentes java a nuevo proyecto: https://youtu.be/UNM8QrCphVI
Java MySql obtener datos desde base de datos: https://youtu.be/sltvhn_HVoo
Java Mysql error: package com.mysql.cj.jdbc does not exist: https://youtu.be/ZxRudnjKl_U
Java Thread (hilos) implementación: https://youtu.be/IMODAq9BstY
Java ejecutar comandos externos(consola): https://youtu.be/JPNhdyoNyC4
Java encriptación de datos: https://youtu.be/hGaq83tMCa4
Imagenes iconos con fondo transparente: https://youtu.be/VKFNcaCM5Eo
Java Barra de menú con JMenuBar: https://youtu.be/cJiPqNMsqgk
Java JPanel rotación de paneles en aplicación: https://youtu.be/rgYqHmiIGNI
Java obtener JTextField desde JPanel: https://youtu.be/X4h74f73bLc
Java JFrame barra de títulos cambiar estilo y color: https://youtu.be/6JYnHmEy-yI
Java JTable dibujar y adicionardatos: https://youtu.be/WvhSzLbC_mU
Java JList implementación y eventos: https://youtu.be/t5iKJ3TzliE
Java Editar archivo en aplicación: https://youtu.be/ceqSjcv3iRQ
Java Encriptación de archivo durante su edición: https://youtu.be/rjZIyhEpwCM
java crear ZIP en aplicación: https://youtu.be/shxyVYB9K3s
Java FTP server cargar archivos: https://youtu.be/03cbjx6KzgE
Java JTable error modificando columnas validar SQL: https://youtu.be/gibIpRHZWcY
Java Mysql SELECT, INSERT, UPDATE y DELETE desde aplicación: https://youtu.be/aLkMQ0fGuOk
Java JScrollPane Eventos sobre barras: https://youtu.be/ates1r8E6-s
Java JTable ajustar columnas al texto: https://youtu.be/vub_a81ePJY
Java JTextArea obtener última linea digitada: https://youtu.be/ccQnAZVbQBE
Java dibujar Boton Flotante con OverlayLayout: https://www.youtube.com/watch?v=8pb_y9wqvdI
Java Multimedia presentar imagenes: https://www.youtube.com/watch?v=RklcNvQh3LE
Java reproducir audio mp3, wav, ogg y midi: https://youtu.be/-Lv9kRa8Oa8
Java JavaFX WebView mostrar HTML embebido: https://youtu.be/s-HtPe9twtw
Java Javafx HTML incrustado que reproduce video MP4: https://youtu.be/45lwR430eD0
Java -jar Error cargando imágenes en pruebas: https://youtu.be/cocAEVk06k4
Java Python3 Reproducir video en python desde aplicación Java: https://youtu.be/RBwZTJhSEL4
Java ServerSocket Servidor HTML Python modulo http.server: https://youtu.be/UH36y74geKE
Java ServerSocket Servidor HTML Python modulo http.server AFINADO: https://www.youtube.com/watch?v=h-9G1L28mgU
Java leer archivo XML con XOM Netbeans: https://youtu.be/wcmvvL5Rozs

Lista desarrollo java web
Java HttpServer servidor de páginas GET/POST: https://youtu.be/eBPrwfuwWWc
Java servidor HttpServer, HTML, JavaScript cargar libreria js: https://www.youtube.com/watch?v=H1wbVByQTBA
Java HttpServer POST enviar formulario de registro desde HTML: https://youtu.be/CjoTfuARivY
Java HttpServer VPN parametrizar IP para conexión por VPN: https://youtu.be/Wn6aj2jHe2g
Java synchronized, métodos sincronizados: https://youtu.be/MN72BDV7_G8

Lista: AUDIOVISUALES
OBS studio recortar area de pantalla en grabacion: https://youtu.be/oh04ZukZM3s
historia telefonia: https://youtu.be/PPSeJKF8vHU
Movil Celular ver pantalla en el PC Linux: https://youtu.be/FcNUyoooifs

Lista: BASES DE DATOS
Mysql Crear Base de datos y Tablas: https://youtu.be/z-0oYFa1IhY
Mysql Crear usuario y asignar a base de datos: https://youtu.be/QqT2gijfe-U
Mysql crear copia de base de datos: https://youtu.be/YagsQM62kII
Mysql modificar tablas con ALTER TABLE: https://youtu.be/x05TuV0go6M
Java Mysql SELECT, INSERT, UPDATE y DELETE desde aplicación: https://youtu.be/aLkMQ0fGuOk
Mysql clausulas INNER JOIN, OUTER JOIN y UNION: https://youtu.be/mHqcinUekuU
Mysql agregar columna de calculo a TABLA: https://youtu.be/eZX0h_GDOtc
Mysql agregar columna DateTime con hora de transacción por defecto: https://youtu.be/CuZOOcqcjrg
MYSQL Columna tipo Password(Clave) con tipo BLOB: https://www.youtube.com/watch?v=UXFLb4C1A5o
Mysql almacenar arreglos en columna JSON: https://youtu.be/fkD_TE00e8M
Postgresql Crear Base de Datos y Tablas.: https://youtu.be/tlqMutwbeDE
Postgresql Renombrar Base de Datos: https://www.youtube.com/watch?v=tobf2w99ehs
Postgresql Crear y Eliminar usuario, asignar base de datos: https://youtu.be/Rb82v8ibnK0
Postgresql Crear copia Base de datos y Restaurar desde copia: https://youtu.be/C_KFkpgRxJM
Postgresql agregar nueva columna a Tabla existente: https://youtu.be/YsrtfwueSo8
Postgresql Crear columnas tipo Arreglo ARRAY, vectores y matrices: https://youtu.be/9UCAYtinbwU

Lista instructivos
Netbeans java Crear Diagrama de clases UML: https://youtu.be/09KNBZsyHJQ
NetBeans 11 importar librerías a proyecto Java: https://youtu.be/eDWIFc7GHsA
Netbeans 11 cambiar directorio Maven Repository: https://youtu.be/h1XxzckBGEM
AndroidStudio cambiar Java JDK y android SDK API: https://youtu.be/PsCZ6BGUsS4
AndroidSrudio Run App en dispositivo físico por pantalla: https://youtu.be/aZpbjvRA-HM
NETBEANS agregar plugin para C/C++: https://youtu.be/RL_X8YEWUD8
NETBEANS C++ Crear nuevo proyecto: https://youtu.be/rJmvw7uRqIc
Netbeans 16 instalar en Linux, tambíen funciona en Windows: https://youtu.be/l-sABplcxOs
Netbeans 19 Java compilar con opción "-Xlint:unchecked": https://youtu.be/vu1DbIHbE7Y

Lista HTML CSS javascript jp jsp
HTML CSS play video: https://youtu.be/crNyTCGAzlo
HTML JavaScript enviar parámetros a la página: https://youtu.be/f6SSnmM4Rh8
HTML JavaScript reproducir Streaming m3u8: https://youtu.be/QeD_ZP9u6F4
HTML CSS ejemplo de formulario de registro: https://www.youtube.com/watch?v=_pEV0Rf36NM
HTML RESPONSIVE, bootstrap y aos estilos y animación: https://youtu.be/euBMqnh5Tcc

Lista APLICACION PYTHON 
Python3 PyQt5 QMediaPlayer reproducir video avi: https://youtu.be/j9qT2XxRJms

LISTA PROGRAMASD C++ BASICO
C++ Programa básico mostrar fecha del sistema: https://www.youtube.com/watch?v=jHbUcMLYnd0
C++ Aplicación para generar código QR(Quick Response): https://www.youtube.com/watch?v=MvKAsZPp0I0

Lista Asterisk
ASTERISK 20 instalación de servidor Voz IP.: https://youtu.be/YUppw8Hf-Wk
Asterisk 20 Configuración Extensiones SIP: https://youtu.be/AhIlduFAJ6w